

    {{> nav }}

<div class="jumbotron text-center">
  <div class="overlay"></div>
      <div class="background-image"></div>

        <div class="caption">
          <h1>Mongo Scraper</h1>
            <p>New York Times Edition</p>
          </div>
      </div>


<div class="container-fluid article-container">

        {{#each article}}
          <tr>
            <td>{{this.headline}}</td> 
            <td>{{this.link}}</td>
            <td><a href="/addNotes/{{this._id}}"><button type="submit" class="btn btn-primary" data-text="{{this.note}}">Article Note</a></td> 
            <td><a href="/deleteNotes/{{this._id}}"><button type="submit" class="btn btn-danger" data-text="{{this.note}}">Delete From Saved </a></button></td> 
          </tr>          
       {{/each}}   

{{!-- <ul>
  {{#each Note}}
  <li>
    <p>
      {{this.id}}. {{this.text}}
      <button type="submit" data-planid="{{this.id}}" class="newnote">Article Note</button>
    </p>
  </li>
  {{/each}}
</ul>

<ul>
  {{#each Note}}
  <li>
    <p>
      {{this.id}}. {{this.text}}
      <button type="submit" data-planid="{{this.id}}" class="deletenote">Delete From Saved </button>
    </p>
  </li>
  {{/each}}
</ul>
 --}}

</div>

<footer class="footer">
  <div class="container">
    <p>New York Times Mongo Scraper</p>
  </div>
</footer>
