<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Mongo Scraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active home"><a href="/">Home</a></li>
      <li class="active saved"><a href="/saved">Saved Articles</a></li>
      <li class="active scrape"><a href="/scrape" class="btn btn-danger scrape-new">Scrape New Articles!</a></li>
    </ul>
  </div>
</nav>

 {{!-- {{> nav }} --}}

<div class="jumbotron text-center">
  <div class="overlay"></div>
      <div class="background-image"></div>

        <div class="caption">
          <h1>Mongo Scraper</h1>
            <p>New York Times Edition</p>
          </div>
      </div>


<div class="container-fluid article-container">

  {{#each result}}
    <tr>
      <td>{{this.headline}}</td> 
      <td>{{this.summary}}</td> 
      <td>{{this.link}}</td>
      <td><button id="note"><a href="/note/{{this._id}}" data-behaviour="notesModal" data-title="Article Note" data-content=""><button type="submit" class="btn btn-primary" data-text="{{this.note}}">Article Note</a></button></td> 
      <td><button id="delete"><a href="/delete/{{this._id}}" data-behaviour="deleteModal" data-title="Delete Note" data-content=""><button type="submit" class="btn btn-danger" data-text="{{this.note}}">Delete From Saved </a></button></td> 
    </tr>          
 {{/each}}   



<div id="modal" class="notesModal">
  <div class="modal-body">
    <ul>
      {{#each note}}
      <li>
        <p>
          {{this.id}}. {{this.text}}
          <button type="submit" data-planid="{{this.id}}" class="new">Article Note</button>
        </p>
      </li>
      {{/each}}
    </ul>
</div>

<div id="modal" class="deleteModal">
  <div class="modal-body">
      <ul>
        {{#each note}}
          <li>
            <p>
            {{this.id}}. {{this.text}}
            <button type="submit" data-planid="{{this.id}}" class="delete">Delete From Saved </button>
          </p>
        </li>
      {{/each}}
    </ul>
  </div>
</div>


</div>

<footer class="footer">
  <div class="container">
    <p>New York Times Mongo Scraper</p>
  </div>
</footer>





  {{!--{{#each note}}
          {{#if note}}
            {{> note/saved=false}}
          {{/if}}
        {{/each}} 
    --}}
